<br />
<div class="row">
  <div class="large-11 large-center columns">
    <%= link_to "New", {:controller => "lists", :action => "init"}, :class => "success button large expanded" %>
  </div>
</div>



